*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: border-box;
    z-index: 1000;
    overflow-x: hidden;
}
body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    font-family: "Raleway", sans-serif;}
    

    .navAll{
        display: flex;
        width: 100%;
        /* overflow: hidden; */
        justify-content: flex-end;

        
    } 
    
.All{
    width: 70%;
    background-color: black;
    float: right;
}
.NAVIGATION{
    background-color: brown;
    width: 30%;
    height: 100vh;
    position: fixed;

}

    
h1,h2,h3,h4,h5,h6{    
    font-family: "Open Sans", sans-serif;
    
}
.containers{

    width:100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "second second second second second second second"
                         "second second second second second second second"
                         "second second second second second second second"
                         "second second second second second second second"
                         "second second second second second second second"
                         "second second second second second second second"
                         "second second second second second second second"
                         "second second second second second second second"
                         "second second second second second second second"
                         "second second second second second second second";
    grid-template-columns: repeat(7, 10%);
    grid-template-rows: repeat(10, 10%);
}
.profile{ 
    background-color: rgb(0, 0, 0);
    grid-area: third;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,fr);
    grid-template-areas: "pp pp pp pp pp"
                         "pp pp pp pp pp"
                         "pp pp pp pp pp"
                         "pp pp pp pp pp"
                         "name name name name name"
                         "icons icons icons icons icons";

}
.myPicture{
    background-color: rgb(0, 0, 0);
    grid-area: pp;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myPicture img {
    width: 40%;
    border: 10px solid#405b6c;
    border-radius: 20rem;
}
.myName{
    background-color: rgb(0, 0, 0);
    grid-area: name;
    display: flex;
justify-content: center;
align-items: center;
color: white;

}
.myIcons{
    background-color: rgb(0, 0, 0);
    grid-area:icons;
    display: flex;
justify-content: center;
align-items: center;
color: white;

}
.myIcons i{
    padding-left: 10px;
}
.myIcons i:hover{
    color:  #FFE814;
}

.navigation{
    background-color: rgb(0, 0, 0);
    grid-area:first;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    padding-top: 30px;
    min-height: 100vh;

}
.navigation ul li{
list-style: none;
padding: 15px;
letter-spacing: 1px;
}
.navigation ul li a{
    color: white;
}
.navigation li a:hover{
transition: 0.3s;
color: #FFE814;
margin-left: 20px;
}
.copyright{
    color: white;
    background-color: rgb(0, 0, 0);
    grid-area: fourth;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-image: url(/images/grace.jpg.jpeg);
    grid-area: second;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;

}
.content .animation{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.content h2{
    color: white;
    font-size: 50px;
    font-weight: 600;
    position: relative;
    display: inline;
  
}
.animation .static-text{
    font-size: 60px;
    font-weight: 400;
    color: #fff;
}
.animation .dynamic-text{
    margin-left: 30px;
    line-height: 84px;
    height: 80px;
    overflow: hidden;
}
.animation .dynamic-text li{
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    color: #FFE814;
    position: relative;
    top: 0;
    animation: slide 6s steps(4)  infinite;
}
@keyframes slide{
    100%{
       top: -360px;
    }
}
.animation .dynamic-text li span{
    position: relative;
}
.animation .dynamic-text li span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color:var(--bg-black-900);
    width: 100%;
    height: 100%;
    border-left: 2px solid #FFE814;
    animation: typing 1.5s steps(10)  infinite;
}
@keyframes typing{
    100%{
        left:100%;
        margin-left:0 -35px 0 35px;
    }
}
  
.button{
    border: 2px solid #FFE814;
    color: rgb(255, 255, 255);
  
    border-radius: 10px;
    width: 50px;
    justify-content: center;
    align-items: center;
    position:relative;
    margin-left: 20rem;
    margin-top: 20rem;

}
.button a{
    font-size: 20px;
    /* margin-left: 20rem; */
    /* margin-top: 20rem; */
}







#about{
    height: 100vh;
    background-color: aliceblue;
}






/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
 
#about {
  width:100%;
  height: 100vh;
    padding: 72px 0;
    color:var(--mainText__color);
    background-color: rgb(164, 179, 179);
  }
  
#about h2.aboutcontactTitleBackground{
    position: relative;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 95px;
    /* font-size: calc(50px + 3vw); */
    font-weight: 600;
    color: rgba(222, 227, 228, 0.5);
  }
  
  .aboutportfolioText__overlap{
    position: absolute;
    top: 33%;
    width: 100%;
    color: purple;
    text-transform: capitalize;
    font-size: 36px;
    
    }
  
  .about__desc {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .about__table,
  .about__parag {
    margin-top: 48px;
    padding:12px;
  }
  
  .about__parag {
    max-width: 50%;
  }
  
  .about__title {
    font-size: 28px;
    margin-bottom: 16px;
  }
  
  .aboutTitle__span {
    color: purple;
  }
  
  .aboutParag__intro {
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  .about__table ul {
    height: auto;
    list-style: none;
    list-style-type: none;
    color: var(--mainText__color);
    font-size: 16px;
    margin-bottom: 50px;
  }
  
  .aboutTable__list {
    border-bottom: 3px solid purple;
    width: 100%;
    padding: 12px 0;
  }
  
  .aboutTable__list:last-child {
    border-bottom: none;
  }
  .aboutTable__list--active{
    color: purple;
  }
  .aboutTable__list--active:hover{
    color: #FFE814;
    cursor: context-menu;
  }
  .button--active {

    color: var(--white__color);
    background-color: yellow;
    border: none;
    padding: 18px 28px;
    border-radius: 800px;
    transition: 1s ease;
  }
  
  .button--active:hover {
    background-color:purple;
  }
  
  .about__numbers {
    max-width: 80%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .number__data {
    border-right: 1px dotted #eaeaea;
    padding: 20px 23px;
    text-align: center;
  }
  
  .number__data:last-child {
    border-right: none;
  }
  
  .aboutData__number {
    color: var(--number__color);
    font-size: 45px;
    font-weight: 500;
  }
  
  .aboutData__desc {
    color: var(--mainText__color);
    font-size: 16px;
  }
  
  .aboutData__number,
  .aboutData__desc {
    padding: 3px 0;
  }










  
/**************************************************************************************************/

/*******************************************Services Section*****************************************/
#service {
    background:linear-gradient(to right, #f5e0f8, #f8f9da);
    padding: 72px 0;
    width: 100%;
    min-height: 100vh;
  }
  .servicecontactTitleBackground{
    position: relative;
    font-size: 96px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  rgba(172, 172, 172, 0.5);
    transition: 0ms;
  }
  .serviceportfolioText__overlap{
    position: absolute;
    font-size: 36px;
    color: purple;
    display: inline;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }

  
  .service__row,
  .services__box,
  .services__icon {
    display: flex;
  }
  
  .services__cards {
    column-count: 1;
  }
  
  .service__row {
    width: 100%;
    margin: auto;
   
  }
  
  .services__box {
    width: calc(100% / 2);
    margin: 0 auto;
    padding: 0 12px;
   
  }
  
  .icon__container {
    padding: 0 20px 0 0;
    border: 5px  dotted ;
    height: 80px;
    width: 80px;
    border-radius: 40px;
  }
  
  .services__icon {
    font-size: 30px;
    width: 70px;
    height: 70px;
    color:purple;
    border-radius: 4px;
    background-color: var(--white__color);
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4 rgba(0, 0, 0, 0.075);
  }
  
  .services__data {
    width: 80%;
    margin-bottom: 48px;
  }
  
  .card__title {
    font-size: 20px;
    color: var(--mainTitle__color);
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .card__desc {
    line-height: 1.8;
    font-size: 16px;
    color: var(--mainText__color);
  }












  /**************************************************************************************************/

/*******************************************Portfolio Section*****************************************/
#portfolio {
  width: 100%;
  height:100vh;
  background-color: #1d1e1e;
  padding: 72px 0;
  color: white;
}
  
.contactTitleBackground {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size:96px;
  font-weight: 600;
  color: rgba(231, 231, 231, 0.5);
  margin-bottom: 30px;
}

.portfolioText__overlap {
  position: absolute;
  display: inline;
  justify-content: center;
  align-items: center;
  color: purple;
  text-transform: capitalize;
  font-size: 36px;padding-top: 45px;
}

.portfolio__nav {
  list-style: none;
  list-style-type: none;
  color:#FFE814;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type__item a {
  text-decoration: none;
  padding:0 10px;
  color:white;
  font-weight: 400;
  cursor: pointer;
}

.type__item a:hover {
  color: #FFE814;
}

.item--active a {
  color: var(--hoverButton__color);
}

.portfolio__gallery {
  column-count: 3;
  column-gap: 10px;
  margin-top: 40px;
}

.photo__box {
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.gallery__photo {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.photo__box:hover .gallery__photo {
  transform: scale(1.3);
  filter: blur(2px);
}

.photo__box:hover > .project__desc {
  display: block;
}

.project__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
}

.desc__container > h3 {
  line-height:4;
}

.project__desc > div {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -58%);
}









 
  /**************************************************************************************************/
  
  /*******************************************Contact Section*****************************************/
  
  #contact {
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 72px 0;
  }
  .contactTitleBackground{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(231, 231, 231, 0.5); ;
    font-weight: 600;
    font-size: 106px;
   


  }
  .contactText__overlap{
    position: absolute;
    font-size: 36px;
    display: inline;
    justify-content: center;
    align-items: center;
    color: purple;
    padding-top: 20px;

  }
  
  
  .contact__wrap {
    display: flex;
    justify-content: space-evenly;
  }
  
  .contact__data,
  .contact__form {
    margin-top: 48px;
    padding: 0 22px;
  }
  
  .contact__form {
    flex-grow: 1.5;
    color: var(--mainText__color);
    font-weight: 600;
  }
  
  .contact__form input {
    width: 15.8rem;
    margin: 24px 12px 15px;
  }
  
  .message__container {
    margin: 5px 0 10px 0;
  }
  
  .message__container > textarea {
    width: 33.5rem;
  }
  
  ::placeholder {
    color: var(--placeholder__color);
    font-weight: 600;
  }
  
  .contactData__title {
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 21px;
    font-weight: 600;
    color: var(--mainTitle__color);
  }
  
  .contactData__address {
    color: var(--mainText__color);
    font-size: 16px;
    margin-bottom: 24px;
  }
  
  .contact__text {
    font-size: 16px;
    color:var(--mainText__color);
    margin-bottom: 4px;
  }
  
  p.last__parag {
    margin-bottom: 24px;
  }
  
  .address__icon {
    color: purple;
  }
  
  .follow__icons {
    cursor: pointer;
    list-style: none;
    list-style-type: none;

  
  }
  
  .follow__item {
    color:rgb(5, 5, 32);
    transition: 1s ease-in;
    padding: 0 10px 0 0px;
    position: relative;
    display: inline;
    justify-content: start;
    align-items: start;
  }
  
  .follow__item:hover {
    color: #FFE814;
   transition: 1ms ease-out;
  }
  
  .contactData__title {
    padding-left: 12px;
  }
  
  .form__input {
    position: relative;
    padding: 13px 10px;
    border: 1px solid #ced4da;
    color: #656565;
    font-size: 16px;
    border-radius: 4px;
    transition: border-color 0.15s linear, box-shadow 0.15s linear;
  }
  
  .form__input:focus {
    outline: none; /*!important; */
    border: 1px solid rgb(188, 188, 253);
    box-shadow: 0 0 10px #719ece;
  }
  
  .form__button {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    background-color: #FFE814;
    color:black;
    border: unset;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 40px;
    transition: 1s ease;
  }
  
  .send__button {
    text-align: center;
    margin-right: 8rem;
  
  }
  .send__button a {
    position: absolute;
    justify-content: center;

    
  }
  
  .form__button:hover {
    background-color:purple;
    color: var(--white__color);
    transition: 1.1ms ease;
    cursor: pointer;
  }
  








  