
body {
    background-image: linear-gradient(90deg, #164a44, #307840);
  }
  h1 {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #container {
    width:45rem;
    height: 32rem;
    margin-left: 15rem;
    background-image: linear-gradient(80deg, #152f29, #13411d);
    color: antiquewhite;
    font-size: 10px;
    text-align: center;
    margin-bottom: 5rem;
    border-radius: 20px;
  }
  h1 {
    text-align: center;
  }

  #title1 {
    font-size: 16px;
    color: #686868;
    font-family: Arial, Helvetica, sans-serif;
  }  

  .label{
    font-size: 17px;
    padding-right: 94vh;
    padding-top: 2vh;
  }
  
  .rectangle{
    width: 110vh;
    height: 5vh;
    border-radius: 5px;
    text-align: center;
  }

/* #left {
    padding-right: 90vh;
    padding-top: 30px;
    font-size: 15px;
  }
  #forgotpassword {
    color: #1b8e9c;
    padding-left: 90vh;
    font-size: 15px;
    text-decoration: none;
  }  */

  #register
   {
    font-size: 20px;
  }
  #account {
    color: #1b8e9c;
    text-decoration: none;
  }
  #signin {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  button {
    background-color: black;
    width: 110vh;
    height: 5vh;
    color: white;
    margin-top: 2vh;
    border-radius: 5px;
  }


