*{
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: white; */
}
body{
    background-image: url('../images/luca-tosoni-OZ5oT-45vLw-unsplash.jpg');
    margin: 0;
    padding: 0;
    width:100%;
}
.Flat{
    color: white;
    font-size: 30px;
    /* text-align: center; */
}
.box{
    width: 40%;
    padding-top:40px;
    padding-bottom:40px;
    background-color: hsl(242, 93%, 5%);

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: white;
}
img{
    width: 20px;
}
.footer{
    color: white;
    font-weight: bolder;
    font-size: 12px;
    display: inline-block;
}
input{
    width:60vh;
    height:30px;
    /* border: none; */
    border-radius: 4px;
    text-align: center;
    box-shadow: #02011F;

}
.follow{
    margin:30px;
}
