*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: border-box;
    z-index: 1000;
    overflow-x: hidden;
}
body{
    background-color: rgb(179, 179, 24);
    /* color: white; */
    height: 100%;
}
.container{
    height: 100vh;
    display: grid;
    background-color: rgb(6, 66, 80);
    grid-template-areas: "third third third second second second second second second second"
                         "third third third second second second second second second second"
                         "third third third second second second second second second second"
                         "third third third second second second second second second second"
                         "first first first second second second second second second second"
                         "first first first second second second second second second second"
                         "first first first second second second second second second second"
                         "first first first second second second second second second second"
                         "first first first second second second second second second second"
                         "fourth fourth fourth second second second second second second second";
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}
.navigation{
    background-color: rgb(0, 0, 0);
    grid-area:first;
    display: block;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    padding: 15px;
    padding-top: 30px;

}
.navigation ul li{
list-style: none;
padding: 15px;
}
.navigation ul li a{
    color: white;
}
.navigation li a:hover{
transition: 0.3s;
color: #FFE814;
margin-left: 20px;





}
.copyright{
    color: rgb(97, 255, 6);
    grid-area: fourth;
    padding-bottom: 30px;
    text-transform: capitalize;
}
.content{
    background-color: aqua;
    grid-area: second;

}
.content img{
    width:100%;
    

}

.profile{ 
    background-color: rgb(227, 59, 163);
    grid-area: third;

}
.profile img{
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    width: 30%;
    border-radius: 15rem;
    border: 10px solid#36444D;
    top: 15px;
    
}