:root{
    background-color: rgb(0, 0, 0);
    color: aqua;
}
*{
    font-family: 'unito' , sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    color: white;

}
*::selection{
    background-color: rgb(255, 255, 7);
    color: rgb(78, 26, 126);

}
html{
    font-size: 62.5%;
    overflow: hidden;
}
html ::-webkit-scrollbar{
    width: 1.4rem;

}
html::-webkit-scrollbar-track{

   background-color: rgb(255, 3, 3);
}
html::-webkit-scrollbar-thumb{

 background-color: rgb(231, 231, 19);
}

body{
    background-color:black;
    width: 100%;
    overflow-x: hidden;
}

header .circle img{
   
    border-radius: 50px;
    width: 100px;
    height: 100px;
    /* position: relative; */
    left: 10px;
    top: 10px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 9px solid #36444D;
}
header{
    position: fixed;
    top: 0;left: 0;
    /* z-index: 1000; */
    width: 35rem;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;


   
}
header .circle .names{
    font-size: medium;
    color: white;
}
header .navBar{
    width: 100%;
}
header .navBar ul{
    list-style: none;
    /* padding-left:150px; */
    top: 10px;
}
header .navBar ul li a{
    display: block;
    padding: 1rem;
    /* margin:1.5rem 0; */
    color: white;
}
header .navBar ul li a:hover{
    background-color: rgb(9, 152, 248);
}
body .profile{
    width: 90rem;
    height: 900px;
display: flex;
justify-content: center;
align-items: end;
float: right;


}
/* 
.copyright{
    font-size: larger;
    font-weight: bolder;
} */