body{
    background-image: linear-gradient(80deg,#176788,#158867);
    width:100%;

}
.container{
background-image: linear-gradient(80deg,#093C4D,#03473A);
width: 50%;
margin: auto;
align-items: center;
border-radius: 6px;
padding-left: 30px;
padding-right: 30px;
}
h1{
    text-align: center;
}
/* 
git add .
git commit -m"login page"
git push
*/
/* 
check local changes
git status

*/


